<html>
<div *ngIf="loading" class="spinner-border text-info mt-5 " style="position: absolute;" role="status">
    <span class="visually-hidden">Loading...</span>
</div>



<!--<input type="text" [(ngModel)]="filterBy" placeholder="filterBy" (keyup)="filter()">-->




<div class="row justify-content-center mx-5">
    <div class="col-3" *ngFor="let product of filteredProducts">
        <div class='container'>
            <div class="card mx-auto px-5 mb-5  mt-5 "> <img class='mx-auto img-thumbnail' src="{{product.picture}}" width="auto" height="auto" />
                <div class="card-body text-center mx-auto">
                    <div class='cvp'>
                        <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price}}€</p> <a [routerLink]="['/ProductDetails',product.id,product.name,product.description.short,product.description.long,product.iva,product.price,product.picture]" class="btn details px-auto">Detalles del producto</a><br/>
                        <div *ngIf="userLogged|async">
                            <a (click)="addtocart(product)" class="btn cart px-auto">Añadir a la cesta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row justify-content-center mx-5 ">
    <div class="col-3" *ngFor="let product of products">
        <div class='container '>
            <div class="card mx-auto mb-5  mt-5"> <img class='mx-auto img-thumbnail' src="{{product.picture}}" width="auto" height="auto" />
                <div class="card-body text-center mx-auto">
                    <div class='cvp'>
                        <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price}}€</p> <a [routerLink]="['/ProductDetails',product.id,product.name,product.description.short,product.description.long,product.iva,product.price,product.picture]" class="btn details px-auto">Detalles del producto</a><br/>
                        <div *ngIf="userLogged|async">
                            <a (click)="addtocart(product)" class="btn cart px-auto">Añadir a la cesta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="row justify-content-center mx-5">
    <div class="col-3" *ngFor="let product of productsCUSTOM">
        <div class='container'>
            <div class="card mx-auto   mt-5 mb-5"> <img class='mx-auto img-thumbnail' src="{{product.picture}}" width="auto" height="auto" />
                <div class="card-body text-center mx-auto">
                    <div class='cvp'>
                        <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price}}€</p> <a [routerLink]="['/ProductDetails',product.id,product.name,product.description.short,product.description.long,product.iva,product.price,product.picture]" class="btn details px-auto">Detalles del producto</a><br/>
                        <div *ngIf="userLogged|async">
                            <a (click)="addtocart(product)" class="btn cart px-auto">Añadir a la cesta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>