.card {
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #a5b418;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #000000;
}

.table-product td {
    border-top: 0px solid #dee2e6 !important;
    color: #000000!important;
}